
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcfcfc;
    padding: 1.5rem;
}

.contenedor-grid{
    border: 2px dashed gray;
    margin-top: 1.5rem;
    background-color: #fff;
    min-height: calc(100vh - 3rem );

    /*Generar contenedores grid*/

    /*Espaciados entre elementos*/

    /*Generar columnas*/

    /*General filas*/
}

.elemento-grid{
    border: 1px solid #ccc;
    padding: 1rem;
}

.uno{
    background-color: #98bfd0;
}

.uno > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    /*Asignar espacio de columna*/
}

.dos{
    background-color: #61678b;
    
    /*Asignar espacio de fila*/
}


.tres{
    
    background-color: #78acc1;
}

.cuatro{
    background-color: #dedeea;
}

.cinco{
    background-image: url('../images/carina.jpg');
    background-position: center;
    background-size: cover;
}

.seis{
    background-color: #bcb9d8;
}